* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 2em;
}

h1 {
    padding: 20px;
}

.grid {
    width: 550px;
    height: 550px;
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    height: 6.25%;
    width: 6.25%;
    border: 1px solid black;
    flex: 0 1 auto;
}

.controls {
    padding: 20px;
}