h1 {
    text-align: center;
}

#reset{
    width: 80%;
    display: block;
    margin: auto;
    margin-bottom: 1em;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: black;
    color: white;
    gap: 0.1%;
    margin: auto;
}

.grid .gridSquare {
    margin: 1px;
    flex: 1 0 6%;
    background-color: white;
    height: 50px;
}

.active {
    background-color: green;
}